* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 120rem;
  min-width: 45rem;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

section {
  margin-bottom: 5rem;
  text-align: justify;
}

/* Navigation */
nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.liste {
  list-style-type: none;
  display: flex;
}

.items {
  margin-right: 1rem;
}

.items a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
}

.items a:hover {
  transition: all 0.2s ease-in-out;
  color: orange;
}

.btn-responsive {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

/* Hero Banner */
#heroBanner {
  position: relative;
}

#heroBanner figure {
  position: relative;
  height: 40rem;
  overflow: hidden;
}

#heroBanner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#heroBanner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

/* About Section */
section#about {
  margin: 5rem 0;
}
section#about p {
  font-size: 1.4rem;
  text-align: justify;
}

/* Selection Section */
#selection .filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#selection .filter-container p {
  flex-basis: 10%;
  font-size: 2rem;
  color: #333;
  text-align: right;
}
#selection .filter-container .filter {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
#selection .filter-container .filter button.btnFilter {
  flex-basis: 20%;
  display: inline-block;
  padding: 1.2rem;
  margin: 0.2rem;
  background-color: #333;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}
#selection .filter-container .filter button.btnFilter:hover {
  background-color: #666;
}
#selection .filter-container .filter .btnFilter.all {
  background-color: green;
}
#selection .filter-container .filter .btnFilter.electric {
  background-color: #FF0000;
}
#selection .filter-container .filter .btnFilter.electro_accoustic {
  background-color: #4682B4;
}
#selection .filter-container .filter .btnFilter.classique {
  background-color: #964B00;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.cards .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cards .card figure {
  flex-basis: 40%;
}
.cards .card figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cards .card .card-content {
  padding: 1.5rem;
  flex-basis: 60%;
}
.cards .card .card-content h3 {
  flex-basis: 10%;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
}
.cards .card .card-content p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.cards .btnMore-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  flex-basis: 5%;
  margin: 0.3rem;
}
.cards .btnPrice {
  flex-basis: 40%;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}
.cards .btnPrice:hover {
  background-color: #666;
}
.cards .btnMore {
  flex-basis: 40%;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}
.cards .btnMore:hover {
  background-color: #666;
}

/* Contact Section */
#contact {
  margin: 4rem 0;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
}

.form-group textarea {
  resize: vertical;
  resize: none;
}

.contact-form .btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}

.contact-form .btn:hover {
  background-color: #666;
}

/* Back to Top Button */
.back-to-top-btn {
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  cursor: pointer;
  display: none;
}

.back-to-top-btn.show {
  display: block;
}

.back-to-top-btn:hover {
  transition: all 0.2s ease-in-out;
  background-color: #666;
  color: orange;
}

.back-to-top-btn i {
  font-size: 2rem;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
