// Thème Rock and Roll 

$mainColor : #000000; //Ce thème convient pour créer une ambiance audacieuse et dynamique.
$secondaryColor : #FF0000; // Utilisez-le pour les éléments d'accentuation importants.
$tertiaryColor: #FFFFFF; //Utilisez-le pour les textes et les arrière-plans plus clairs;
$quatersColor : #C0C0C0; //Utilisez-le comme couleur supplémentaire pour des éléments de design.


// Thème Vintage :;
// Utilisation : Ce thème convient pour donner à votre site une ambiance rétro et nostalgique.
// Couleurs et codes HEX :
// Brun foncé ou acajou : Utilisez-le comme couleur de fond pour évoquer le bois des guitares vintage. Code HEX : #804000
// Beige : Utilisez-le pour les textes, les arrière-plans et les éléments de design. Code HEX : #F5F5DC
// Crème : Utilisez-le pour renforcer l'aspect vintage. Code HEX : #FFFDD0
// Vert olive : Utilisez-le pour des accents. Code HEX : #808000
// Thème Électrique :

// Utilisation : Ce thème convient pour créer une ambiance moderne et vive.
// Couleurs et codes HEX :
// Bleu électrique : Utilisez-le comme couleur de fond ou pour des éléments importants. Code HEX : #00FFFF
// Jaune vif : Utilisez-le pour les points d'accentuation. Code HEX : #FFFF00
// Noir : Utilisez-le pour les textes et les éléments contrastants. Code HEX : #000000
// Blanc : Utilisez-le pour les textes et les arrière-plans plus clairs. Code HEX : #FFFFFF
// Thème Acoustique :

// Utilisation : Ce thème convient pour donner une ambiance naturelle et chaleureuse à votre site.
// Couleurs et codes HEX :
// Bois naturel ou marron chaud : Utilisez-le comme couleur de fond pour évoquer les guitares acoustiques. Code HEX : #8B4513
// Vert forêt : Utilisez-le pour des accents. Code HEX : #228B22
// Beige : Utilisez-le pour les textes et les arrière-plans. Code HEX : #F5F5DC
// Crème : Utilisez-le pour les textes et les arrière-plans plus clairs. Code HEX : #FFFDD0