@import './reset.scss';
@import './preset.scss';
@import './colors.scss';


// Mixins
@mixin media-query($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

.container {

    // Styles
    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 5rem;
        height: auto;
        background-color: $tertiaryColor;
        background-color: $mainColor;
        color: $quatersColor;
    }
    
    .liste {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .items {
        margin: 0 1rem;
        font-style: 2rem;

        a {
            font-size: 2rem;
            text-decoration: none;
            color: $quatersColor;

            &:hover{
                transition: all 0.2s ease-in-out;
                color: $secondaryColor; /* Assurez-vous de définir la valeur de $secondaryColor */
              }           
        }

    }

    .btn-responsive {
        position: absolute;
        right: 2rem;
        top: 2rem;
        padding: 0.5rem;
        display: none;
    }

    @media screen and (max-width: 650px) {

        nav{
            display: flex;
        }
        .liste {
            position: relative;
            top: 7rem;
            display: none;
            width: 100%;
            height: auto;
            background: $mainColor;
            color: $tertiaryColor;
            padding: 1rem;
        }
        
        .liste.show {
            display: block;
        }
        
        .items {
            height: 7rem;
            width: 100%;
            text-align: center;
            line-height: 7rem;
            border-bottom: 0.1rem solid $quatersColor;
        }


        .btn-responsive {
            display: block;
        }

    }

    header#heroBanner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        color: $quatersColor;
        text-transform: uppercase;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

}

// end container 