@mixin Flex() {
  display: flex;
}

// FlexColumn :
@mixin FlexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin FlexColCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin FlexColCenterCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Flex Row :
@mixin FlexRow() {
  display: flex;
  flex-direction: row;
}

@mixin FlexRowCenter() {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin FlexRowCenterCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// IMG :
@mixin ResponsiveImg() {
  width: 100%;
  height: auto;
}

// Borders :
@mixin Border() {
  border: 0.1rem solid $mainColor;
}

@mixin BorderRadius() {
  border: 0.3rem solid transparent;
  border-radius: 0.3rem;
}

// animation : 
@mixin hoverEffect() {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

@mixin FocusInput(){
  border: 0.3rem solid $mainColor;
}