// wide screen
$min-width-screen : 425px;
$max-width-screen : 144rem;


// marges :
$marge-reference : 1rem;

$default-margin : $marge-reference * 1.6;
$default-padding : $marge-reference *1.6;
$default-gap : $marge-reference *1.6;


// container :

$default-border-radius : $marge-reference;