@import './preset.scss';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

section{
  margin-bottom: 5rem;
  text-align: justify;
}

.filter.show{
  visibility: hidden;
}

// *{
//   border: 0.3rem solid red;
// }


   



